.header-image {
  width: 99.5%;
  height: 57vw;
  background: url("../images/adel-united-poster-03.png") no-repeat;
  background-position: top;
}
.icon-link{
  display: flex;
  justify-content: flex-end;
  width: auto;
  height: auto;
  padding: 2% 4%;
}
#df-icon {
  height: 26px;
  width: auto;
  padding: 15px;
}
.image-long{
  width:99.5%;
  height: 140vw;
}
.image-rectangle{
  width:99.5%;
  height: 60vw;
}
#img-one {
  background-image: url("../images/adel-united-poster-01.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
#img-two {
  background-image: url("../images/adel-united-poster-02.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}
#img-three {
  background-image: url("../images/adel-united-social-media.png");
  background-repeat: no-repeat;
  background-position: center, left;
  background-size: 100%;
  background-position: 0 3px;
}
@media (min-width:600px){
  .text{
    width:49%;
    height: 21vw;
    margin-bottom: 10rem;
  }
  .image-long{
    width:49%;
    height: 69vw;
  }
  .image-rectangle{
    width:49%;
    height: 30vw;
  }
  h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  h3{
    font-size: 1.5rem;
    font-weight: 200;
  }
  p{
    font-size: 1.3vw;
  }
}
