.menu-bar {
height:80px;
background-color: white;
font-family: 'Muli', sans-serif;
color: #345FA5;
max-width: 1600px;
margin: auto;
}

img {
  /*display: none;*/
  height: 256px;
  width: 256px;
}

#df-icon {
  height: 26px;
  width: 45px;
  padding-right: 10px;
}

.grid {
  max-width: 1024px;
  margin: auto;
}

.grid-sizer,

.box {
  height: 256px;
  width: 256px;
  background-color: grey;
  float: left;

}

.rectangle {
  height: 384px;
  background-color: white;

}

h1 {
  font-family: 'Muli', sans-serif;
  margin-top: -20px;
  padding-left: 10PX;
  font-size: 60pt;
  color: #345FA5;
  line-height: 120%;
}

h2{
  font-family: 'Muli', sans-serif;
  font-size: 40pt;
  font-weight: 200;
  color: #345FA5;
  text-align: right;
  line-height:150%;

  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 10px;
}

h3 {


}

.left-align{
  text-align: left;
  max-width: 200px;
  padding:4px 0 0 20px;
  margin-top: 0;
}

.description {
font-family: 'Muli', sans-serif;
font-size: 16pt;
line-height: 160%;
color: #345FA5;

max-width: 190px;
padding:20px 0 0 20px;
}


footer {
  font-family: 'Muli', sans-serif;
  font-style: underline;
  padding-top: 10px;
  font-size: 16pt;
  color: #345FA5;
  text-align: center;

  height: 300px;
  margin-top: 120px;

  border-top: solid;
  border-color: #E30F72

}

.social-links {

  font-size: 30pt;
  padding-bottom: 30px;
}

i {
  padding: 20px;
}

@media (max-width: 1050px) {

  .grid-sizer,
  .box {
    width: 30vw;
    height: 30vw;
  }

  .rectangle {
    width: 30vw;
    height: 45vw;
  }

  img {
    width: 30vw;
    height: 30vw;
  }

  h1 {
    font-size: 9vw;
  }
  .description {
    font-size: 2.6vw;
  }

  h2 {
    font-size: 5.8vw;
  }
}

@media (max-width: 512px) {
  .grid {
    /*width: 49vw;*/
  }

  .grid-sizer,
  .box {
    width: 45vw;
    height: 45vw;
  }

  .rectangle {
    width: 45vw;
    height: 67.5vw;
  }

  img {
    width: 45vw;
    height: 45vw;
  }

  h1 {
    font-size: 14vw;
  }
  .description {
    font-size: 4.5vw;
    width: 100vw;
  }

  h2 {
    font-size: 9.5vw;
  }
}


/*@media (min-width: 791px) and (max-width: 1200px) {

  .grid {
      max-width: 768px;
  }

}


@media (max-width: 790px) {

  .grid {
      max-width: 512px;
  }

}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait)
  {
  .grid {
    max-width: 512px;
  }
  }
*/



/*@media (max-width: 789px){

  .box {
    width: 49%;
    height: auto;
  }
  .box >img {
    width: 100%;
    height: auto;
  }
}*/




 /*@media (max-width: 600px){

  .box {
    height: auto;
    width: 50%;


  }

  .rectangle {
    height: auto;
    width: 50%;


  }

  img {
    height: auto;
    width: 100%;
  }*/

  /*.grid {
    width: 160px;
  }*/

}
