body {
  font-family: 'Poppins', sans-serif;
}

nav {
  width: 33%;
}

main {
  display: grid;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: black;
}

strong {
  font-weight: 500;
  color: rgb(227, 15, 114);
}

img {
  max-width: 100vw;
}

h2 {
  margin: 0;
  font-weight: 500;
  : 1.6rem;
}

.logo {
  padding: 2rem 1rem 0;
}

.thumbnail-title {
  margin: .5rem 1rem 1rem;
}

.about-card {
  margin: 0 1rem;
}

.about-card p {
  margin: 0;
}

hr {
  border: 0;
  width: 98%;
  height: 1px;
  background-color: black;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #343333;
}

footer a, footer a:visted {
  color: white;
}

.address, .social {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 1rem;
}
.address {
  padding-right: 2rem;
}

.social a:visited {
  color: white;
}

@media (min-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(7, auto);
    grid-gap: 1.5rem;
  }

  .thumbnail-tile {
    width: 32vw;
  }

  .thumbnail-tile + .web-design-my-money-zen {
    width: 65.63vw;
  }

  .thumbnail-tile img {
    width: 100%;
  }

  .thumbnail-title{
    display: none;
  }

  .about-deming-factor p {
    color: black;
  }

/*Tile card grid layout*/
  .logo {
    grid-column: 1;
    grid-row: 1;
  }

  .about-deming-factor {
    grid-column: 1;
    grid-row: 2 / 4;
    justify-self: stretch;
    align-self: start;
  }

  .graphic-label-wine{
    grid-column: 2;
    grid-row: 1 / 6;
    justify-self: stretch;
    align-self: start;
  }

  .champaign-adelaide-united {
    grid-column: 3;
    grid-row: 1 / 5;
    justify-self: stretch;
    align-self: start;
  }

  .installation-space-between {
    grid-column: 1;
    grid-row: 4 / 9;
    justify-self: stretch;
    align-self: start;
  }

  .web-design-my-money-zen {
    grid-column: 2 / 4;
    /*grid-row: 4 / 8;*/
    grid-row-start: 4;
    grid-row-end: 8;
    justify-self: stretch;
    align-self: start;
  }

/*Tile cards*/
  .about-card {
    font-size: 1.4rem;
    line-height: 2.2rem
  }

  .about-card p {
    margin-bottom: 1rem;
  }

  #tile1:hover + #tile1 {
    display: block;
  }

hr{
  display: none;
}

/*Footer*/
  footer {
      margin-top: -8px;
      display: flex;
      flex-direction: row;
    }

  .address {
    border-right: 2px solid white;
  }

}
